In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv(r'C:\Users\hhuic\Desktop\Python\Chapter 6 CAPM\MSFT_S&P.csv',index_col='Date')
data.head()

                 MSFT        ^GSPC
Date
2012-01-03  23.031868  1277.060059
2012-01-04  23.573898  1277.300049
2012-01-05  23.814798  1281.060059
2012-01-06  24.184755  1277.810059
2012-01-09  23.866419  1280.699951

In [3]:
sec_return=np.log(data/data.shift(1))
cov=sec_return.cov()*250
cov

           MSFT     ^GSPC
MSFT   0.053781  0.018208
^GSPC  0.018208  0.016361

In [7]:
cov_market=cov.iloc[0,1]
cov_market

0.01820843191039893

In [8]:
market_var=sec_return['^GSPC'].var()*250
market_var

0.016360592699269063

In [9]:
beta=cov_market/market_var
beta

1.112944515219942

In [12]:
Ke_MSFT=0.025+beta*0.05
Ke_MSFT

0.0806472257609971